<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Word File Download</title>
</head>
<style>
    button{
        margin-left:10px;
        margin-right: 10px;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">P2W Converter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item active">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More Tools
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Convert Pdf to word</a>
                <a class="dropdown-item" href="#">Word to pdf</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Jpg to pdf</a>
              </div>
            </li>
            
          </ul>
          
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <button class="btn btn-outline-danger my-2 bt" type="button">Signup</button>
            <button class="btn btn-outline-secondary my-2 " type="button">Login</button>
          
        </div>
      </nav>
      <br>
<center>
    <h1>Download Word File</h1><br>
    <div>
        <p>The pdf you had uploaded is now converted into a word file(docx) and is ready for download. <br>Please click 
        on the button below and wait for the document to download. Thank you.
        </p>
    </div>
    <form action="/docx" method="POST">
        <input value={{variable}} id="3" name="filename" type="hidden">
        <button class="btn btn-primary btn-lg"> Download</button>
    </form>
</center>

</body>

<br><br><br>

    <div class="blockcode" style="background-color:rgb(156, 3, 3); color: whitesmoke; padding-top: 20px;">
        <footer class="page-footer shadow">
          <div class="d-flex flex-column mx-auto " style="width: 80%">
            <div class="d-flex flex-wrap justify-content-between">
              <div>
                  <span class="ms-3 h5 font-weight-bold">PDF TO WORD</span>
                </a>
                <p class="my-3" style="width: 250px">
                  This website is designed to help you convert PDF's to Word Documents! we can convert pdfs to docx.
                </p>
              </div>
              <div>
                <p class="h5 mb-4" style="font-weight: 600">P2W Converter</p>
                <ul class="p-0" style="list-style: none; cursor: pointer">
                  <li class="my-2">
                    <a class="text-light" href="#">Our Resources</a>
                  </li>
                  <li class="my-2">
                    <a class="text-light" href="#">About Us</a>
                  </li>
                  <li class="my-2">
                    <a class="text-light" href="#">Contact</a>
                  </li>
                  <li class="my-2"><a class="text-light" href="#">Blog</a></li>
                </ul>
              </div>
              <div>
                <p class="h5 mb-4" style="font-weight: 600">Help</p>
                <ul class="p-0" style="list-style: none; cursor: pointer">
                  <li class="my-2">
                    <a class="text-light" href="#">Support</a>
                  </li>
                  <li class="my-2">
                  
                  </li>
                </ul>
              </div>
              <div>
                <p class="h5 mb-4" style="font-weight: 600">News</p>
                <ul class="p-0" style="list-style: none; cursor: pointer">
                  <li class="my-2">
                    <a class="text-light" href="#">Latest IT news!</a>
                  </li>
                 
                  
                </ul>
              </div>
            </div>
            <div class="text-center mt-4">
              <div class="mb-4">
                <button class="btn btn-dark btn-flat ">
                  <i class="fa fa-facebook"></i>
                </button>
                <button class="btn btn-dark btn-flat ">
                  <i class="fa fa-twitter"></i>
                </button>
                <button class="btn btn-dark btn-flat">
                  <i class="fa fa-instagram"></i>
                </button>
              </div>
              <small>&copy; P2W CONVERTER, 2023. All rights reserved.</small>
            </div>
          </div>
        </footer>
      </div>



</html>
